<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .wrap {
        position: relative;
        /* width: 160px; */
        font-size: 12px;
      }
      .content {
        position: absolute;
        /* width: 160px; */
        height: 40px;
        padding: 4px;
        box-sizing: border-box;
        border: 1px solid red;
      }
      .line {
        position: absolute;
        height: 40px;
        left: 10px;
        top: 40px;
        border-left: 1px solid darkorange;
      }


    </style>
  </head>
  <body>
    <div style="position: relative; font-size: 12px;">
      <div style="position: absolute;
              height: 40px;
              left: 10px;

              border-left: 1px solid darkorange;"></div>
      <div style="position: absolute; top: 40px;height: 40px; padding: 4px;
        box-sizing: border-box;
        border: 1px solid red;">
        <div>中国</div>
        <div>今年营收: 10000 元</div>
      </div>

    </div>
  </body>
</html>
